.features {
    max-width: 1170px;
    padding-top: 94px;
    padding-bottom: 94px;
    margin: 0 auto;

    justify-content: center;
    display: flex;
    align-items: center;

    background-color: var(--white-background-color);
}

.features-section__item {

    justify-content: center;
    display: flex;
    align-items: center;

}

.features-list {
    justify-content: center;
    display: flex;
    align-items: center;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.features-list__item:not(:last-child) {
    margin-right: 30px;
    max-width: 270px;
}

.features-list__icon {
    align-items: center;
}

.features-list__icon-fon {
    display: flex;
    width: 270px;
    height: 120px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;

    background-color: var(--team-background-color);
}

.features-list__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    display: flex;

    margin-bottom: 10px;
}

.features-list__text {
    font-size: 14px;
    line-height: 1.71;
    color: var(--secondary-text-color);

}